## Python for Data Science , AI & Development


### Data Structures

---

### **Listas**

---

##### .append()

In [38]:
fruits = ["apple", "banana", "orange"] 
fruits.append("mango")
print(fruits)

['apple', 'banana', 'orange', 'mango']

Sirve para introducir un nuevo elemento a la lista

---

##### .copy()

In [39]:
my_list = [1, 2, 3, 4, 5] 
new_list = my_list.copy() 
print(new_list)

[1, 2, 3, 4, 5]

Sirve para crear una copia de la lista

---

##### .count()

In [40]:
my_list = [1, 2, 2, 3, 4, 2, 5, 2] 
count = my_list.count(2)
print(count)

4

Sirve para contar los numeros similares que hay en una lista [2,2,2,2] = 4

---

#### .del()

In [41]:
my_list = [10, 20, 30, 40, 50] 
del my_list[3] 
my_list

[10, 20, 30, 50]

Borra el elemento de mi lista en la posición no. 4

---

##### .extend()

In [42]:
fruits = ["apple", "banana", "orange"] 
more_fruits = ["mango", "grape"] 
fruits.extend(more_fruits) 
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

Sirve para extender la lista con los nuevos elementos dados en otra lista , sin afectar la principal

---

#### Indexing

In [43]:
my_list = [10, 20, 30, 40, 50] 
print(my_list[0]) 
print(my_list[-1])

10
50

Sirve para agarrar los elementos de determinada posición , en este caso se agarraron los valores de la posición 0 y se la última posición

---

#### .insert( index, element) / .insert()

In [44]:
my_list = [1, 2, 3, 4, 5] 
my_list.insert(2, 6) 
print(my_list)

[1, 2, 6, 3, 4, 5]

Sirve para insertar nuevos elementos a una lista , en determinada posición. En este caso se insertó el 6 en la posición 3

---

#### Modifying a list

In [45]:
my_list = [10, 20, 30, 40, 50] 
my_list[1] = 25 
print(my_list)

[10, 25, 30, 40, 50]

Sirve para modificar la lista hecha , en este caso se cambia la posición 2 y se pone el 25

---

#### .pop(position)

In [46]:
my_list = [10, 20, 30, 40, 50] 
removed_element = my_list.pop(2) #index 2
removed_element2 = my_list.pop()
print(removed_element)
print(removed_element2)
print(my_list)

30
50
[10, 20, 40]

Es otra manera de remover un elemento de la lista en determinada posición, en este caso elimina la posición 3

Si no le pones una posición , te borra el último elemento

---

#### .remove()

In [47]:
my_list = [10, 20, 30, 40, 50] 
my_list.remove(30) 
print(my_list)

[10, 20, 40, 50]

Sirve de igual manera para eliminar un elemento de la lista , pero en este caso se le pone el elemento dentro del parentesis.

---

#### .reverse()

In [48]:
my_list = [10, 20, 30, 40, 50] 
my_list.reverse() 
print(my_list)

[50, 40, 30, 20, 10]

Sirve para darle la vuelta a la lista y que empiece desde el último número

---

#### .slicing()

In [49]:
my_list = [10, 20, 30, 40, 50] 
my_list= my_list[0:2]
print(my_list)

[10, 20]

Sirve para agarrar distintas posiciones dependiendo lo que pongas antes y después de los :

Empieza desde la posición 1 y termina en la dos , agarra todos esos valores

---

In [50]:
my_list = [10, 20, 30, 40, 50] 
my_list.remove(30) 
print(my_list)

[10, 20, 40, 50]

Sirve de igual manera para eliminar un elemento de la lista , pero en este caso se le pone el elemento dentro del parentesis.

---

#### .sort()

In [51]:
my_list = [10,60,100,5 ,20, 30, 40, 50] 
my_list.sort()
my_list

[5, 10, 20, 30, 40, 50, 60, 100]

In [52]:
my_list.sort(reverse=True)
my_list

[100, 60, 50, 40, 30, 20, 10, 5]

Sirve para ordenar los valores de menor a mayor , o también se le puede aplicar la función de reverse=True , para que sea de mayor a menor

---

### **Tupla**

---

#### .count(value)

In [53]:
fruits = ("apple", "banana", "apple", "orange")
print(fruits.count("apple"))

2

Sirve para contar los elementos que están en la tupla

---

#### tuple.index(value) / .index()

In [54]:
fruits = ("apple", "banana", "orange","apple")
print(fruits.index("apple"))

0

Te indica la posición en la que se encuentra el elemento que buscas

---

#### Sum(tuple)

In [55]:
numbers = (10, 20, 5, 30)
print(sum(numbers))

65

Sirve para sumar lo que está dentro de la tupla

---

#### Max(tuple) / Min (tuple)

In [56]:
numbers = (10, 20, 5, 30)
print('mínimo: ',min(numbers) )  
print('máximo: ',max(numbers))

mínimo:  5
máximo:  30

Sirve para ver el maximo o minimo de los elementos de una tupla

---

#### len(tuple)

In [57]:
fruits = ("apple", "banana", "orange")
print(len(fruits))

3

Te indica cuantos elementos hay en la tupla

---

### Cuestionario

1.

In [58]:
say_what=('say','what','you','will') 
say_what[-1]

'will'

2.

In [59]:
A=(1,2,3,4,5)
A[1:4]

(2, 3, 4)

3.

In [60]:
B=[1,2,[3,'a'],[4,'b']]
B[3][1]

'b'

4.

In [61]:
[1,2,3] + [1,1,1]

[1, 2, 3, 1, 1, 1]

5.

In [62]:
A = [1]
A.append([2, 3, 4, 5])
A

[1, [2, 3, 4, 5]]

---

## Sets

Es otra tipo de colección de datos, se pueden introducir distintos tipos de dato de python.

- No están ordenados
- Tienen elementos únicos
- Evita que haya duplicados 

#### set()

In [64]:
import pandas as pd

In [97]:
a = ["apple","apple", "banana", "orange",  "banana", "pepino",1982]
run=set(a)
run

{1982, 'apple', 'banana', 'orange', 'pepino'}

### Set Operations

#### .add()

In [98]:
run.add("perro")
run

{1982, 'apple', 'banana', 'orange', 'pepino', 'perro'}

Sirve para añadir otro elemento a la colección

#### .remove()

In [99]:
run.remove("banana")
run

{1982, 'apple', 'orange', 'pepino', 'perro'}

#### check()

In [103]:
"Azul" in run

False

### Sets Mathematical Sets Operations

#### &

In [115]:
a = ["apple","apple", "banana", "orange",  "banana", "pepino",1982]
b = ["Messi", "banana", "orange", "pepino","Suarez",1985]

s3 = set(a) & set(b)
s3

{'banana', 'orange', 'pepino'}

sirve para unir las coincidencias que hay entre los dos sets

#### .union()

In [113]:
set(a).union(set(b))

{1982, 1985, 'Messi', 'Suarez', 'apple', 'banana', 'orange', 'pepino'}

sirve para unir dos sets y todo el contenido de ellos

#### .issubset()

In [114]:
set(a).issubset(set(b))

False

sirve para ver si todas las coincidencias de un set , están en el otro set

---